<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>tetoris2</title>
		<script>
			if (typeof module !== 'undefined') {
			  window.__tempModuleExports__ = module.exports;
			  module.exports = false;
			}
		</script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.js'></script>
		<script>
			if (window.__tempModuleExports__) {
			  module.exports = window.__tempModuleExports__;
			  window.__tempModuleExports__ = null;
			  delete window.__tempModuleExports__;
			}
		</script>
		<!-- my defined files -->
		<link rel="stylesheet" href="../stylesheets/index.css" media="screen" title="no title" charset="utf-8">
		<script src="../scripts/operation.js" charset="utf-8"></script>
		<script src="../scripts/tetrimino.js" charset="utf-8"></script>
		<!-- my defined files -->
	</head>
	<body>
		<div id="header" class="header">
			<a href="mino_test.html">Tetri minos</a>
		</div>
		<div id="menu" class="menu"></div>
		<div id="field" class="field">
		</div>
		<!-- <input type="button" id="button" name="button" value="JavaScript test" onclick="helloConole()" /> -->
	</body>
</html>
