$side: 20px

//color variables
$red: rgb(196, 203, 115)
$red-shade: rgb(163, 91, 91)
$red-light: rgb(215, 137, 137)
$blue: rgb(126, 214, 219)
$green: rgb(111, 224, 139)
$purple: rgb(226, 122, 228)
$yellow: rgb(217, 224, 135)

@mixin blockElement
	width: $side
	height: $side
	margin: 1px

.field
	border: 1px solid #000000
	position: relative
	width: 600px
	height: 600px
	// bottom: 50px

.falling
	position: relative
	top: 0px
	left: 0px
	width: 20px
	height: 20px
	background-color: $red
	border-top: 5px solid $red-light
	border-left: 5px solid $red-light
	border-bottom: 5px solid $red-shade
	border-right: 5px solid $red-shade
	display: inline-block
	margin: 0%
	padding: 0%
	vertical-align: middle
