$hen: 20px
$darken-rate: 20%
$light-rate: 20%

//color variables
$red: #cb8273
$blue: #57c4b4
$green: #46c243
$purple: #e27ae4
$yellow: #c2cf31

.test
	color: #8ed7d7
	background-color: #ffffff
	text-align: center
	text-shadow: 5px

.field
	border: 1px solid #000000
	position: relative
	width: 600px
	height: 600px

@mixin blockElement($base-color)
	position: absolute
	top: 0px
	left: 0px
	width: 20px
	height: 20px
	background-color: $base-color
	border-top: 5px solid lighten($base-color, $light-rate)
	border-left: 5px solid lighten($base-color, $light-rate)
	border-bottom: 5px solid darken($base-color, $darken-rate)
	border-right: 5px solid darken($base-color, $darken-rate)
	display: inline-block
	margin: 0%
	padding: 0%
	vertical-align: middle


.falling_red
	@include blockElement($red)

.falling_blue
	@include blockElement($blue)

.falling_yellow
	@include blockElement($yellow)
